@page
@model CIS560FinalProject.Pages.CoachComparisonFormModel
@{
    ViewData["Title"] = "Coach Comparison";
}
<h1>@ViewData["Title"]</h1>
<form>
    <label for="coaches">Coaches to be compared via a comma seperated list:</label>
    <div class="horizontal-align">
    <input type="text" id="coaches" name="coaches"><br /><br />
        <input class="checkbox" type="checkbox" id="allCoaches" name="coaches">
        <label for="allCoaches">Compare All Coaches.</label><br /><br />
    </div>
    <div class="horizontal-align">
    <input class="checkbox" type="checkbox" id="desc" name="descending">
    <label for="descending">Descending</label><br /><br />
    </div>
    <input class="submit" type="submit" value="Submit">

</form>