@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h3 class="display-8">&uarr; Click any of the tools above to get started</h3><br />
    <h2 class="display-7">This webpage serves as a tool to compare NBA Postseason Data in various different methods.</h2>

</div>