@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="text-center">
            <h3 class="display-8">&uarr; Click any of the tools above to get started</h3><br /><br />
            <h1 class="display-4">Welcome</h1>
    <p>A CIS560 Project By Dawson Stutzman, Kyle Kohman, and Matthew Lund.</p>
    </div>
