@page
@model CIS560FinalProject.Pages.TeamByYearFormModel
@{
    ViewData["Title"] = "Team Stats by Year";
}
<div class="custom-horizontal-align">
    <div class="vertical-align">
        <h1>@ViewData["Title"]</h1>
        <form>
            <label for="players">Teams to be compared via a comma seperated list:</label>
            <div class="horizontal-align">
                <input type="text" id="teams" name="teams">
                <input class="checkbox" type="checkbox" checked="checked" id="allTeams" name="allTeams"><br /><br />
                <label for="allTeams">Compare All Teams</label><br />
            </div>
            <div class="horizontal-align">
                <input class="checkbox" type="checkbox" id="desc" name="descending" , checked="checked">

                <label for="descending">Descending</label><br /><br />
            </div>
            <div>
                <label for="conference">Select Conference for Comparison</label><br />
                <input type="radio" name="conference" value="eastern" /><label for="conference">&ensp;Eastern</label><br />
                <input type="radio" name="conference" value="western" /><label for="conference">&ensp;Western</label><br />
                <input type="radio" name="conference" value="both" /><label for="conference">&ensp;Eastern &amp; Western</label><br />
            </div>

            <label for="colleges">Metric to rank teams by:</label>
            <div>
                <input type="radio" name="metric" value="points" /><label for="metric">&ensp;Points</label><br />
                <input type="radio" name="metric" value="assists" /><label for="metric">&ensp;Assists</label><br />
                <input type="radio" name="metric" value="rebounds" /><label for="metric">&ensp;Rebounds</label><br />
                <input type="radio" name="metric" value="blocks" /><label for="metric">&ensp;Blocks</label><br />
                <input type="radio" name="metric" value="minutes" /><label for="metric">&ensp;Steals</label><br />
                <input type="radio" name="metric" value="steals" /><label for="metric">&ensp;Minutes</label><br />
            </div>
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
    <br />
<div class="flex-row horizontal-align left-border">
    <div class="vertical-align">
        <table class="table">
            <thead>
                <tr>
                    <th>TeamID</th>
                    <th>Team Name</th>
                    <th>Team Conference</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var row in Model.TeamList)
        {
            <tr>
                <td>@row.TeamID</td>
                <td>@row.Name</td>
                <td>@row.ConferenceName</td>
            </tr>
        }
            </tbody>
        </table>
    </div>
</div>
</div>