@page
@model CIS560FinalProject.Pages.ToolsModel
@{
    ViewData["Title"] = "Comparison Tools";
}
<h1>@ViewData["Title"]</h1>
<br />
<body>
    <div class="vertical-align">
        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/PlayerComparisonForm">
            <div class="link-div">
                <h3 class="link-text">Compare player stats</h3>
            </div>
        </a>
        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/HomeAwayForm">
            <div class="link-div">
                <h3 class="link-text">Compare home and away game stats</h3>
            </div>
        </a>

        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/CoachComparisonForm">
            <div class="link-div">
                <h3 class="link-text">Compare teams under different coaches</h3>
            </div>
        </a>


        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/SeedsByYearForm">
            <div class="link-div">
                <h3 class="link-text">Compare team performance by year</h3>
            </div>
        </a>

        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/MetricsByCollegeForm">
            <div class="link-div">
                <h3 class="link-text">Compare stats by colleges </h3>
            </div>
        </a>
    </div>
</body>