@page
@model CIS560FinalProject.Pages.ToolsModel
@{
    ViewData["Title"] = "Comparison Tools";
}
<h1>@ViewData["Title"]</h1>
<br />
<body>
    <div class="vertical-align">
        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/Analytics/PlayerComparisonForm">
            <div class="link-div">
                <h3 class="link-text">&#9654 Compare player stats</h3>
            </div>
        </a>
        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/Analytics/HomeAwayForm">
            <div class="link-div">
                <h3 class="link-text">&#9654 Compare home and away game stats</h3>
            </div>
        </a>

        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/Analytics/CoachComparisonForm">
            <div class="link-div">
                <h3 class="link-text">&#9654 Compare teams under different coaches</h3>
            </div>
        </a>


        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/Analytics/TeamByYearForm">
            <div class="link-div">
                <h3 class="link-text">&#9654 Compare team performance by year</h3>
            </div>
        </a>

        <a class="nav-link text-dark link-custom" asp-area="" asp-page="/Analytics/MetricsByCollegeForm">
            <div class="link-div">
                <h3 class="link-text">&#9654 Compare stats by colleges </h3>
            </div>
        </a>
    </div>
</body>