@page
@model HomeAwayFormModel
@{
    ViewData["Title"] = "Home VS Away Scores";
}
<h1>@ViewData["Title"]</h1>
<form>
    <label for="players">Players to be compared via a comma seperated list:</label>
    <div class="horizontal-align">
        <input type="text" id="players" name="players">
        <input class="checkbox" type="checkbox" checked="checked" id="allPlayers" name="allPlayers"><br /><br />
        <label for="allPlayers">Compare All Players</label><br /> 
    </div>
    <div class="horizontal-align">
        <input class="checkbox" type="checkbox" id="desc" name="descending", checked="checked">

        <label for="descending">Descending</label><br /><br />
    </div>
    <label for="metric">Metric to rank players by:</label>
    <div>
        <input class="" type="radio" name="metric" value="points" /><label for="metric">&ensp;Points</label><br />
        <input type="radio" name="metric" value="assists" /><label for="metric">&ensp;Assists</label><br />
        <input type="radio" name="metric" value="rebounds" /><label for="metric">&ensp;Rebounds</label><br />
        <input type="radio" name="metric" value="blocks" /><label for="metric">&ensp;Blocks</label><br />
        <input type="radio" name="metric" value="minutes" /><label for="metric">&ensp;Steals</label><br />
        <input type="radio" name="metric" value="steals" /><label for="metric">&ensp;Minutes</label><br />
    </div>
    <input class="submit" type="submit" value="Submit">
</form>