html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: start;
}

.checkbox {
    margin: 0.3rem;
}

.submit {
    margin: 0.3rem;
    align-self: end;
}

.nav-link:hover {
background-color: lightgray;
border-radius: 4px;
}

.nav-link {
    color: black;
}

.custom-horizontal-align{
    align-content: start;
    flex-flow: wrap;
    justify-content: start;
    vertical-align: top;
    align-items: start;
    display: flex;
    flex-direction: row;
}

.left-border {
    border-left: solid black 2px;
    padding-left: 2rem;
    margin-left: 2rem;
}

.verified-row{
    background-color: lavender;
}

.non-verified-row {
    background-color: lavenderblush;
}

.add-button {
    background-color: lightgreen;
    border-radius: 2px;
    border-style: none;
}